{"ip":"192.168.11.1","port":"2000","ae":"SMART_PACS","token":"h7DRjrjyIuFqF7LST2AuwrmsfUJHKZpdSF5PrLbzNJDthXM8JMEczIOhMEMmxqWpSzQbmoo2wIQK0l7rs4mFp6sTHVpXWjLW7wW728omL1UpywOgbbDo1pjZR1JzMSCZ4ehWt2qERHxSolsmgN8VIoTqRBmxZ8wClrX50MFQRam9a9tOVkSm3g2muQ0lbBZuvv7GaaZomZecHis6a8R9VbE5rnHZu0C8n2OyxULf4H23rmbli8BEP8pEcxpcr5D3","referapi":"http://14.11.0.25:3004","myserverapi":"http://localhost:55355"}