{"ip":"192.168.11.1","port":"2000","ae":"SMART_PACS","token":"mZecHis6a8R9VbE5rnHZu0C8n2OyxULf4H23rmbli8BEP8pEcxpcr5D3","referapi":"http://192.168.1.123:3004","myserverapi":"http://localhost:55355","linenotifytoken":"5300pUd"}
